*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #bee1e6;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 40px 20px;
}

.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon i{
    padding: 5px;
    color: darkcyan;
}

.icon i:hover{
    color: cadetblue;
}

.pages{
    padding: 0 10px 0 10px;
}

.introduction{
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 40px;
}

.introduction-text{
    margin: auto;
}