*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 50px 50px 50px 50px;
    background-color: #bee1e6;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 40px 0;
}

.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon i{
    padding: 5px;
    color: darkcyan;
}

.icon i:hover{
    color: cadetblue;
}

.pages{
    padding: 0 10px 0 10px;
}
